.wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.search {
    margin-top: 5px;
}
/* .actionButtonsWrapper {
    display: flex;
    justify-content: center;
    gap: 5px;
} */
.table {
    border: 1px solid var(--white-color);
}